@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: var(--font-sans);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);

    --radius-sm: 6px;
    --radius-md: 12px;
    --radius-lg: 16px;
    --radius-xl: 24px;
    --radius-2xl: 32px;
    --radius-3xl: 9999px;

    --text-heading-72:
      72px 72px 600 -4.32px var(--font-sans);
    --text-heading-64:
      64px 64px 600 -3.84px var(--font-sans);
    --text-heading-56:
      56px 56px 600 -3.36px var(--font-sans);
    --text-heading-48:
      48px 56px 600 -2.88px var(--font-sans);
    --text-heading-40:
      40px 48px 600 -2.4px var(--font-sans);
    --text-heading-32:
      32px 40px 600 -1.28px var(--font-sans);
    --text-heading-24:
      24px 32px 600 -0.96px var(--font-sans);
    --text-heading-20:
      20px 26px 600 -0.4px var(--font-sans);
    --text-heading-16:
      16px 24px 600 -0.32px var(--font-sans);
    --text-heading-14:
      14px 20px 600 -0.28px var(--font-sans);
    --text-label-20:
      20px 32px var(--font-sans);
    --text-label-18:
      18px 20px var(--font-sans);
    --text-label-16:
      16px 20px var(--font-sans);
    --text-label-14:
      14px 20px var(--font-sans);
    --text-label-13:
      13px 16px var(--font-sans);
    --text-label-12:
      12px 16px var(--font-sans);
    --text-label-14-mono:
      14px 20px var(--font-mono);
    --text-label-13-mono:
      13px 20px var(--font-mono);
    --text-label-12-mono:
      12px 16px var(--font-mono);
    --text-copy-24:
      24px 36px var(--font-sans);
    --text-copy-20:
      20px 36px var(--font-sans);
    --text-copy-18:
      18px 28px var(--font-sans);
    --text-copy-16:
      16px 24px var(--font-sans);
    --text-copy-14:
      14px 20px var(--font-sans);
    --text-copy-13:
      13px 18px var(--font-sans);
    --text-copy-14-mono:
      14px 20px var(--font-mono);
    --text-copy-13-mono:
      13px 18px var(--font-mono);
    --text-button-16:
      16px 20px 500 var(--font-sans);
    --text-button-14:
      14px 20px 500 var(--font-sans);
    --text-button-12:
      12px 16px 500 var(--font-sans);
}

:root {
    --background: #ffffff;
    --foreground: #171717;
    --card: #ffffff;
    --card-foreground: #171717;
    --popover: #ffffff;
    --popover-foreground: #171717;
    --primary: #171717;
    --primary-foreground: #ffffff;
    --secondary: #f2f2f2;
    --secondary-foreground: #171717;
    --muted: #f2f2f2;
    --muted-foreground: #4d4d4d;
    --accent: #f2f2f2;
    --accent-foreground: #171717;
    --destructive: #ea001d;
    --border: #eaeaea;
    --input: #eaeaea;
    --ring: #006bff;
    --chart-1: #006bff;
    --chart-2: #28a948;
    --chart-3: #ffae00;
    --chart-4: #a000f8;
    --chart-5: #f22782;
    --sidebar: #fafafa;
    --sidebar-foreground: #171717;
    --sidebar-primary: #171717;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #f2f2f2;
    --sidebar-accent-foreground: #171717;
    --sidebar-border: #eaeaea;
    --sidebar-ring: #006bff;

    --shadow-raised: 0 2px 2px rgba(0, 0, 0, 0.04);
    --shadow-popover:
      0 1px 1px rgba(0, 0, 0, 0.02),
      0 4px 8px -4px rgba(0, 0, 0, 0.04),
      0 16px 24px -8px rgba(0, 0, 0, 0.06);
    --shadow-modal:
      0 1px 1px rgba(0, 0, 0, 0.02),
      0 8px 16px -4px rgba(0, 0, 0, 0.04),
      0 24px 32px -8px rgba(0, 0, 0, 0.06);
}

.dark {
    --background: #000000;
    --foreground: #ededed;
    --card: #000000;
    --card-foreground: #ededed;
    --popover: #000000;
    --popover-foreground: #ededed;
    --primary: #ededed;
    --primary-foreground: #000000;
    --secondary: #1a1a1a;
    --secondary-foreground: #ededed;
    --muted: #1a1a1a;
    --muted-foreground: #a0a0a0;
    --accent: #1a1a1a;
    --accent-foreground: #ededed;
    --destructive: #e2162a;
    --border: #2e2e2e;
    --input: #2e2e2e;
    --ring: #47a8ff;
    --chart-1: #006efe;
    --chart-2: #00ac3a;
    --chart-3: #ffae00;
    --chart-4: #9440d5;
    --chart-5: #f12b82;
    --sidebar: #000000;
    --sidebar-foreground: #ededed;
    --sidebar-primary: #ededed;
    --sidebar-primary-foreground: #000000;
    --sidebar-accent: #1a1a1a;
    --sidebar-accent-foreground: #ededed;
    --sidebar-border: #2e2e2e;
    --sidebar-ring: #47a8ff;

    --shadow-raised: 0 1px 2px rgba(0, 0, 0, 0.16);
    --shadow-popover:
      0 1px 1px rgba(0, 0, 0, 0.02),
      0 4px 8px -4px rgba(0, 0, 0, 0.04),
      0 16px 24px -8px rgba(0, 0, 0, 0.06);
    --shadow-modal:
      0 1px 1px rgba(0, 0, 0, 0.02),
      0 8px 16px -4px rgba(0, 0, 0, 0.04),
      0 24px 32px -8px rgba(0, 0, 0, 0.06);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}
